<!doctype html>
<html lang="en" xmlns:th="http://www.thyemleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section>
		<div class="card mr-4 ml-3">
			<div class="card-body">
				<div class="container text-center ">
					<h1>
						<i class="fas fa-id-card"></i>
					</h1>
				</div>
				<h2 class="text-center">Update User</h2>
				<div class="container-fluid mt-3">
					<form th:action="@{/user/update-userinfo}" method="post">
						<div class="input-group">
							<h3>About</h3>
							<input th:value="${user.userDesc}" type="text" name="about"
								placeholder="Edit your about info" class="form-control ml-3"
								required="required" />
						</div>
						<button type="submit" class="btn btn-primary mt-4 btn-block">Update</button>
					</form>
				</div>

			</div>
		</div>
	</section>

</body>
</html>