<!doctype html>
<html lang="en" xmlns:th="http://www.thyemleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section>
		<div id="login">
        <div class="container ">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height: 200px;" class="col-md-12">
                     
                   <form th:action="@{/change-password}" method="post">
                           <div class="form-group">
                               <input name="newPassword" type="password" class="form-control mt-5 mb-2" placeholder="Enter new password" required="required"/>
                           </div>
                           <div class="container text-center">
                             <button  type="submit" class="btn btn-primary btn-small">Change password</button>
                           </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>

</body>
</html>